In [8]:
### TITLE RATINGS & TITLE EPISODE 

## TITLE RATINGS - Contains the IMDb rating and votes information for titles.
# tconst (string) - alphanumeric unique identifier of the title
# averageRating – weighted average of all the individual user ratings
# numVotes - number of votes the title has received

## TITLE EPISODE - Contains the tv episode information.
# tconst (string) - alphanumeric identifier of episode
# parentTconst (string) - alphanumeric identifier of the parent TV Series
# seasonNumber (integer) – season number the episode belongs to
# episodeNumber (integer) – episode number of the tconst in the TV series

In [9]:
import pandas as pd
ratings = pd.read_csv('https://datasets.imdbws.com/title.ratings.tsv.gz', compression = 'gzip', sep = '\t')
ratings

            tconst  averageRating  numVotes
0        tt0000001            5.7      1918
1        tt0000002            5.8       260
2        tt0000003            6.5      1726
3        tt0000004            5.6       173
4        tt0000005            6.2      2541
...            ...            ...       ...
1238555  tt9916690            7.4         6
1238556  tt9916720            5.3       269
1238557  tt9916730            8.4         6
1238558  tt9916766            6.7        21
1238559  tt9916778            7.3        35

[1238560 rows x 3 columns]

In [10]:
title_episode = pd.read_csv('https://datasets.imdbws.com/title.episode.tsv.gz', compression = 'gzip', sep = '\t')
title_episode

            tconst parentTconst seasonNumber episodeNumber
0        tt0020666   tt15180956            1             2
1        tt0020829   tt15180956            1             1
2        tt0021166   tt15180956            1             3
3        tt0021612   tt15180956            2             2
4        tt0021655   tt15180956            2             5
...            ...          ...          ...           ...
7021358  tt9916846    tt1289683            3            18
7021359  tt9916848    tt1289683            3            17
7021360  tt9916850    tt1289683            3            19
7021361  tt9916852    tt1289683            3            20
7021362  tt9916880    tt0985991            4             2

[7021363 rows x 4 columns]