In [8]:
### TITLE RATINGS & TITLE EPISODE 

## TITLE RATINGS - Contains the IMDb rating and votes information for titles.
# tconst (string) - alphanumeric unique identifier of the title
# averageRating – weighted average of all the individual user ratings
# numVotes - number of votes the title has received

## TITLE EPISODE - Contains the tv episode information.
# tconst (string) - alphanumeric identifier of episode
# parentTconst (string) - alphanumeric identifier of the parent TV Series
# seasonNumber (integer) – season number the episode belongs to
# episodeNumber (integer) – episode number of the tconst in the TV series

In [11]:
import pandas as pd
ratings = pd.read_csv('https://datasets.imdbws.com/title.ratings.tsv.gz', compression = 'gzip', sep = '\t')
ratings.head(5)

      tconst  averageRating  numVotes
0  tt0000001            5.7      1918
1  tt0000002            5.8       260
2  tt0000003            6.5      1726
3  tt0000004            5.6       173
4  tt0000005            6.2      2541

In [12]:
title_episode = pd.read_csv('https://datasets.imdbws.com/title.episode.tsv.gz', compression = 'gzip', sep = '\t')
title_episode.head(5)

      tconst parentTconst seasonNumber episodeNumber
0  tt0020666   tt15180956            1             2
1  tt0020829   tt15180956            1             1
2  tt0021166   tt15180956            1             3
3  tt0021612   tt15180956            2             2
4  tt0021655   tt15180956            2             5

In [14]:
# TITLE RATINGS - overview / data type
ratings.info() 

# tconst - 1238560 - non-null - object (str)
# averageRating - 1238560 - non-null - float64
# numVotes - 1238560 - non-null - int64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1238560 entries, 0 to 1238559
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1238560 non-null  object
 1   averageRating  1238560 non-null  float64
 2   numVotes       1238560 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 28.3+ MB

In [45]:
# TITLE Ratings ['averageRating'] - overview / exploration

ratings.averageRating.mean() # 6.947754892778713 rating
ratings.averageRating.max()  # 10.0
ratings.averageRating.min()  # 1.0
ratings.averageRating.isna().sum() # No missing values

0

In [51]:
# TITLE Ratings ['numVotes'] - overview / exploration

ratings.numVotes.mean() # 1042.7339264952848 votes
ratings.numVotes.max()  # 2651251 votes
ratings.numVotes.min()  # 5 votes
ratings.averageRating.isna().sum() # No missing values

0

In [15]:
# TITLE_EPISODE - overview / data type
title_episode.info() 

# 7021363 entries
# tconst        - object - (str)
# parentTconst  - object - (str)
# seasonNumber  - object - (int)
# episodeNumber - object - (int)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7021363 entries, 0 to 7021362
Data columns (total 4 columns):
 #   Column         Dtype
---  ------         -----
 0   tconst         object
 1   parentTconst   object
 2   seasonNumber   object
 3   episodeNumber  object
dtypes: object(4)
memory usage: 214.3+ MB

In [16]:
# TITLE EPISODE - overview / exploration
title_episode.describe()

           tconst parentTconst seasonNumber episodeNumber
count     7021363      7021363      7021363       7021363
unique    7021363       179787          396         15721
top     tt0020666   tt12164062            1            \N
freq            1        18593      3505995       1472990

In [54]:
# TITLE EPISODE ['parentTconst] - overview / exploration

title_episode.parentTconst.value_counts() 

#No \N values

In [52]:
# TITLE EPISODE ['seasonNumber'] - overview / exploration

title_episode.seasonNumber.value_counts()

# \N = 1472990 out of 702136 which means 21% of values are null

1       3505995
\N      1472990
2        546564
3        311386
4        210018
         ...
1973          1
222           1
947           1
2005          1
1980          1
Name: seasonNumber, Length: 396, dtype: int64

In [28]:
# TITLE EPISODE ['episodeNumber'] - overview / exploration

title_episode['episodeNumber'].value_counts()

# a = (1472990/7021363)*10
# \N = 1472990 out of 7021363 which means 21% of values are null

20.97869031981397

In [44]:
#TITLE EPISODE - overview / check for empty rows

title_episode.isnull().sum()

# There are no rows with missing values (empty)

tconst           0
parentTconst     0
seasonNumber     0
episodeNumber    0
dtype: int64