In [3]:
import pandas as pd
#pd.read_csv("https://drive.google.com/file/d/1NMDXXT-N8-pAaBkSnr9yg7QfcmuP4uD8/view?usp=sharing", sep ="\t")

In [7]:
t1 = pd.read_csv(r'C:\Users\frans\Downloads\name.basics.tsv.gz',sep='\t')
t1

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0031983,tt0050419,tt0053137,tt0072308"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0038355,tt0037382,tt0075213,tt0117057"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,music_department","tt0057345,tt0054452,tt0056404,tt0049189"
3,nm0000004,John Belushi,1949,1982,"actor,soundtrack,writer","tt0080455,tt0078723,tt0072562,tt0077975"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0060827,tt0069467,tt0050986,tt0083922"
...,...,...,...,...,...,...
12005700,nm9993714,Romeo del Rosario,\N,\N,"animation_department,art_department","tt2455546,tt14069590,tt11657662"
12005701,nm9993716,Essias Loberg,\N,\N,NaN,\N
12005702,nm9993717,Harikrishnan Rajan,\N,\N,cinematographer,tt8736744
12005703,nm9993718,Aayush Nair,\N,\N,cinematographer,\N
12005704,nm9993719,Andre Hill,\N,\N,NaN,\N

In [10]:
t1.describe()

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
count,12005705,12005704,12005705,12005705,9415758,12005705
unique,12005705,9341421,516,452,20955,4970073
top,nm0000001,Alex,\N,\N,actor,\N
freq,1,379,11441936,11798501,2134072,2128221

In [11]:
t1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12005705 entries, 0 to 12005704
Data columns (total 6 columns):
 #   Column             Dtype
---  ------             -----
 0   nconst             object
 1   primaryName        object
 2   birthYear          object
 3   deathYear          object
 4   primaryProfession  object
 5   knownForTitles     object
dtypes: object(6)
memory usage: 549.6+ MB