In [8]:
### TITLE RATINGS & TITLE EPISODE 

## TITLE RATINGS - Contains the IMDb rating and votes information for titles.
# tconst (string) - alphanumeric unique identifier of the title
# averageRating – weighted average of all the individual user ratings
# numVotes - number of votes the title has received

## TITLE EPISODE - Contains the tv episode information.
# tconst (string) - alphanumeric identifier of episode
# parentTconst (string) - alphanumeric identifier of the parent TV Series
# seasonNumber (integer) – season number the episode belongs to
# episodeNumber (integer) – episode number of the tconst in the TV series

import pandas as pd

In [9]:
import pandas as pd
ratings = pd.read_csv('https://datasets.imdbws.com/title.ratings.tsv.gz', compression = 'gzip', sep = '\t')
ratings.head(5)

      tconst  averageRating  numVotes
0  tt0000001            5.7      1919
1  tt0000002            5.8       260
2  tt0000003            6.5      1726
3  tt0000004            5.6       173
4  tt0000005            6.2      2541

In [10]:
title_episode = pd.read_csv('https://datasets.imdbws.com/title.episode.tsv.gz', compression = 'gzip', sep = '\t')
title_episode.head(5)

      tconst parentTconst seasonNumber episodeNumber
0  tt0037582    tt6280432           \N            \N
1  tt0041951    tt0041038            1             9
2  tt0042816    tt0989125            1            17
3  tt0042889    tt0989125           \N            \N
4  tt0043426    tt0040051            3            42

In [11]:
# TITLE RATINGS - overview / data type
ratings.info() 

# tconst - 1238560 - non-null - object (str)
# averageRating - 1238560 - non-null - float64
# numVotes - 1238560 - non-null - int64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1238835 entries, 0 to 1238834
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1238835 non-null  object
 1   averageRating  1238835 non-null  float64
 2   numVotes       1238835 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 28.4+ MB

In [12]:
# TITLE Ratings ['averageRating'] - overview / exploration

ratings.averageRating.mean() # 6.947754892778713 rating
ratings.averageRating.max()  # 10.0
ratings.averageRating.min()  # 1.0
ratings.averageRating.isna().sum() # No missing values

0

In [13]:
# TITLE Ratings ['numVotes'] - overview / exploration

ratings.numVotes.mean() # 1042.7339264952848 votes
ratings.numVotes.max()  # 2651251 votes
ratings.numVotes.min()  # 5 votes
ratings.averageRating.isna().sum() # No missing values

0

In [14]:
# TITLE_EPISODE - overview / data type
title_episode.info() 

# 7021363 entries
# tconst        - object - (str)
# parentTconst  - object - (str)
# seasonNumber  - object - (int)
# episodeNumber - object - (int)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7022661 entries, 0 to 7022660
Data columns (total 4 columns):
 #   Column         Dtype
---  ------         -----
 0   tconst         object
 1   parentTconst   object
 2   seasonNumber   object
 3   episodeNumber  object
dtypes: object(4)
memory usage: 214.3+ MB

In [15]:
# TITLE EPISODE - overview / exploration
title_episode.describe()

           tconst parentTconst seasonNumber episodeNumber
count     7022661      7022661      7022661       7022661
unique    7022661       179827          396         15721
top     tt0037582   tt12164062            1            \N
freq            1        18593      3507099       1472727

In [16]:
# TITLE EPISODE ['parentTconst] - overview / exploration

title_episode.parentTconst.value_counts() 

#No \N values

tt12164062    18593
tt0058796     14698
tt0069658     12537
tt0988827     10674
tt0053494     10557
              ...
tt7022634         1
tt3599284         1
tt7147238         1
tt11908462        1
tt14637262        1
Name: parentTconst, Length: 179827, dtype: int64

In [17]:
# TITLE EPISODE ['seasonNumber'] - overview / exploration

title_episode.seasonNumber.value_counts()

# \N = 1472990 out of 702136 which means 21% of values are null

1       3507099
\N      1472727
2        546670
3        311476
4        210066
         ...
1973          1
222           1
947           1
2005          1
1980          1
Name: seasonNumber, Length: 396, dtype: int64

In [18]:
# TITLE EPISODE ['episodeNumber'] - overview / exploration

title_episode['episodeNumber'].value_counts()

# a = (1472990/7021363)*100
# \N = 1472990 out of 7021363 which means 21% of values are null

\N       1472727
1         260761
2         234826
3         224023
4         209309
          ...
15692          1
15691          1
15690          1
15390          1
18081          1
Name: episodeNumber, Length: 15721, dtype: int64

In [19]:
#TITLE EPISODE - overview / check for empty rows

title_episode.isnull().sum()

# There are no rows with missing values (empty)

tconst           0
parentTconst     0
seasonNumber     0
episodeNumber    0
dtype: int64

In [20]:
condition = title_episode['tconst'] == 'tt13729658'
title_episode.loc[condition]

             tconst parentTconst seasonNumber episodeNumber
2122170  tt13729658   tt12112118            1             1

In [21]:
#condition = ratings['tconst'] tt0000002
cond1 = ratings['tconst'] == 'tt13729658'
ratings.loc[cond1]

            tconst  averageRating  numVotes
621152  tt13729658            7.1        54

In [22]:
merge1 = pd.merge(ratings, title_episode, how="inner", on='tconst')
merge1
# inner = 596158 rows × 6 columns
# outer = 7665338 rows × 6 columns -> not all tconsts have season numeber and episode numb and not all episodes have ratings
# left =  1238835 rows × 6 columns -> not all rated files have season and ep info
# right

,tconst,averageRating,numVotes,parentTconst,seasonNumber,episodeNumber
0,tt0037582,6.6,467,tt6280432,\N,\N
1,tt0041951,7.5,78,tt0041038,1,9
2,tt0043631,6.8,11,tt0989125,2,16
3,tt0044093,4.5,17,tt0959862,1,6
4,tt0045960,6.9,177,tt0044284,2,3
...,...,...,...,...,...,...
596153,tt9916628,8.7,7,tt9893572,1,2
596154,tt9916682,6.4,6,tt0985991,3,44
596155,tt9916690,7.4,6,tt0985991,3,47
596156,tt9916766,6.7,21,tt1442550,10,15
596157,tt9916778,7.3,35,tt9595170,1,3

In [23]:
import pickle
merge1.to_pickle("frans-merge1.pickle")
merge_ratings_episode = pd.read_pickle("frans-merge1.pickle")

In [24]:
merge_ratings_episode = pd.read_pickle("frans-merge1.pickle")

In [25]:
merge_ratings_episode.head()

      tconst  averageRating  numVotes parentTconst seasonNumber episodeNumber
0  tt0037582            6.6       467    tt6280432           \N            \N
1  tt0041951            7.5        78    tt0041038            1             9
2  tt0043631            6.8        11    tt0989125            2            16
3  tt0044093            4.5        17    tt0959862            1             6
4  tt0045960            6.9       177    tt0044284            2             3

In [26]:
cond1 = merge_ratings_episode['seasonNumber']=='\\N'
cond2 = merge_ratings_episode['episodeNumber']=='\\N'
merge_ratings_episode.loc[cond1] #14136 rows with \\N season numbers
merge_ratings_episode.isna().sum()

tconst           0
averageRating    0
numVotes         0
parentTconst     0
seasonNumber     0
episodeNumber    0
dtype: int64