In [5]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

ModuleNotFoundError: No module named 'google.colab'

In [8]:
#t1 = pd.read_csv(r'C:\Users\frans\Downloads\name.basics.tsv.gz',sep='\t')
t1 = pd.read_csv('https://datasets.imdbws.com/name.basics.tsv.gz', compression='gzip', sep='\t')

In [3]:
t1.describe()

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
count,12005705,12005704,12005705,12005705,9415758,12005705
unique,12005705,9341421,516,452,20955,4970073
top,nm0000001,Alex,\N,\N,actor,\N
freq,1,379,11441936,11798501,2134072,2128221

In [4]:
t1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12005705 entries, 0 to 12005704
Data columns (total 6 columns):
 #   Column             Dtype
---  ------             -----
 0   nconst             object
 1   primaryName        object
 2   birthYear          object
 3   deathYear          object
 4   primaryProfession  object
 5   knownForTitles     object
dtypes: object(6)
memory usage: 549.6+ MB