<a href="https://colab.research.google.com/github/LuisaPolicarpo/Project3/blob/main/luisa_p.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import pickle

In [2]:
# name_b = pd.read_csv('https://datasets.imdbws.com/name.basics.tsv.gz', compression = 'gzip', sep = '\t')[['nconst','primaryName','primaryProfession']]

In [ ]:

# df = pd.read_csv('myfile.csv',skiprows=lambda x: x not in rownumberList)

# title_p = pd.read_csv('https://datasets.imdbws.com/title.principals.tsv.gz', compression = 'gzip', sep = '\t')[['tconst','nconst']]

In [2]:
col_list = ['nconst','primaryName','primaryProfession']


name_b = pd.read_csv('https://datasets.imdbws.com/name.basics.tsv.gz', compression = 'gzip', sep = '\t', usecols=col_list)

In [3]:
col_list2 = ['tconst','nconst']
# rownumberList = [1,2,3]
title_p = pd.read_csv('https://datasets.imdbws.com/title.principals.tsv.gz', compression = 'gzip', sep = '\t', usecols=col_list2)
# df = pd.read_csv('https://datasets.imdbws.com/title.principals.tsv.gz',skiprows=lambda x: x not in rownumberList)
# # , skiprows=lambda x: x not in rownumberList)

In [6]:
# other = pd.DataFrame({'title_p': ['tconst', 'nconst'],
#                       'name_b': ['nconst', 'primaryName', 'primaryProfession']})

result = pd.concat([title_p, name_b], axis=1, join="inner")

In [7]:
result = result.drop_duplicates()

In [8]:
result.to_pickle('topm2.pickle')

In [9]:
top_movies3 = pd.read_pickle("/content/topm2.pickle")

(12035112, 5)

In [ ]:
# rownumberList = [1,2,3]
# title_p = pd.read_csv('https://datasets.imdbws.com/title.principals.tsv.gz', compression = 'gzip', sep = '\t', usecols=col_list2)

In [ ]:
# name_b.to_pickle("zz-name.basics.pickle")
# title_p.to_pickle("zz-title.principals.pickle")

NameError: ignored

In [ ]:
# name_basics= name_b.drop(['birthYear', 'deathYear','knownForTitles'],axis=1)

# name_basics.head()

      nconst      primaryName                    primaryProfession
0  nm0000001     Fred Astaire       soundtrack,actor,miscellaneous
1  nm0000002    Lauren Bacall                   actress,soundtrack
2  nm0000003  Brigitte Bardot  actress,soundtrack,music_department
3  nm0000004     John Belushi              actor,soundtrack,writer
4  nm0000005   Ingmar Bergman                writer,director,actor

In [ ]:
# title_pri= title_p.drop(['category','job','characters'],axis=1)

# title_pri.head()

      tconst  ordering     nconst
0  tt0000001         1  nm1588970
1  tt0000001         2  nm0005690
2  tt0000001         3  nm0374658
3  tt0000002         1  nm0721526
4  tt0000002         2  nm1335271

In [4]:
# top_movies= pd.merge(title_p, name_b, how='inner', on=['nconst', 'nconst'])
# # top_movies.to_pickle('topm.pickle')

# top_movies = pd.concat([title_p, name_b], axis=1, join="inner")

In [ ]:
# top_movies[['P1', 'P2', 'P3']] = top_movies['primaryProfession'].str.split(',', expand=True)

# top_movies

In [2]:
# top_movies2 = pd.read_pickle("/content/topm.pickle")
# top_movies2 = top_movies2.drop(['ordering'],axis=1)
# top_movies2 = top_movies2.drop_duplicates()

In [4]:
# top_movies2.head(30)

,tconst,nconst,primaryName,primaryProfession
0,tt0000001,nm1588970,Carmencita,soundtrack
1,tt7513040,nm1588970,Carmencita,soundtrack
2,tt0000001,nm0005690,William K.L. Dickson,"cinematographer,director,producer"
3,tt0000005,nm0005690,William K.L. Dickson,"cinematographer,director,producer"
4,tt0000006,nm0005690,William K.L. Dickson,"cinematographer,director,producer"
5,tt0000007,nm0005690,William K.L. Dickson,"cinematographer,director,producer"
6,tt0000008,nm0005690,William K.L. Dickson,"cinematographer,director,producer"
7,tt0000036,nm0005690,William K.L. Dickson,"cinematographer,director,producer"
8,tt0000060,nm0005690,William K.L. Dickson,"cinematographer,director,producer"
9,tt0000076,nm0005690,William K.L. Dickson,"cinematographer,director,producer"
10,tt0000082,nm0005690,William K.L. Dickson,"cinematographer,director,producer"
11,tt0000108,nm0005690,William K.L. Dickson,"cinematographer,director,producer"
12,tt0000109,nm0005690,William K.L. Dickson,"cinematographer,director,producer"
13,tt0000110,nm0005690,William K.L. Dickson,"cinematographer,director,producer"
14,tt0000111,nm0005690,William K.L. Dickson,"cinematographer,director,producer"
15,tt0000112,nm0005690,William K.L. Dickson,"cinematographer,director,producer"
16,tt0000113,nm0005690,William K.L. Dickson,"cinematographer,director,producer"
17,tt0000135,nm0005690,William K.L. Dickson,"cinematographer,director,producer"
18,tt0000201,nm0005690,William K.L. Dickson,"cinematographer,director,producer"
19,tt0000247,nm0005690,William K.L. Dickson,"cinematographer,director,producer"
20,tt0000464,nm0005690,William K.L. Dickson,"cinematographer,director,producer"
21,tt0154151,nm0005690,William K.L. Dickson,"cinematographer,director,producer"
22,tt0154152,nm0005690,William K.L. Dickson,"cinematographer,director,producer"
23,tt0177707,nm0005690,William K.L. Dickson,"cinematographer,director,producer"
24,tt0203290,nm0005690,William K.L. Dickson,"cinematographer,director,producer"
25,tt0203291,nm0005690,William K.L. Dickson,"cinematographer,director,producer"
26,tt0203373,nm0005690,William K.L. Dickson,"cinematographer,director,producer"
27,tt0203374,nm0005690,William K.L. Dickson,"cinematographer,director,producer"
28,tt0203375,nm0005690,William K.L. Dickson,"cinematographer,director,producer"
29,tt0203376,nm0005690,William K.L. Dickson,"cinematographer,director,producer"

In [ ]:
#top_movies2 duplicates and ordering

# top_movies2 = top_movies2.drop(['ordering'],axis=1)

# top_movies2 = top_movies2.drop_duplicates()

In [ ]:
# top_movies2[['P1', 'P2', 'P3']] = top_movies2['primaryProfession'].str.split(',', expand=True)

# top_movies2

In [ ]:
# top_movies2['P1'] = top_movies2['primaryProfession'].str.split(',')[0]

In [ ]:
# top_movies2.to_pickle('topm2.pickle')

In [ ]:
# top_movies3 = pd.read_pickle("/content/topm.pickle")
# top_movies3