<a href="https://colab.research.google.com/github/LuisaPolicarpo/Project3/blob/main/luisa_p.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import pickle

In [ ]:

name_b = pd.read_csv('https://datasets.imdbws.com/name.basics.tsv.gz', compression = 'gzip', sep = '\t')[['nconst','primaryName','primaryProfession']]
title_p = pd.read_csv('https://datasets.imdbws.com/title.principals.tsv.gz', compression = 'gzip', sep = '\t')[['tconst','ordering','nconst']]

In [3]:
# name_b.to_pickle("zz-name.basics.pickle")
# title_p.to_pickle("zz-title.principals.pickle")

NameError: ignored

In [3]:
# name_basics= name_b.drop(['birthYear', 'deathYear','knownForTitles'],axis=1)

# name_basics.head()

      nconst      primaryName                    primaryProfession
0  nm0000001     Fred Astaire       soundtrack,actor,miscellaneous
1  nm0000002    Lauren Bacall                   actress,soundtrack
2  nm0000003  Brigitte Bardot  actress,soundtrack,music_department
3  nm0000004     John Belushi              actor,soundtrack,writer
4  nm0000005   Ingmar Bergman                writer,director,actor

In [4]:
# title_pri= title_p.drop(['category','job','characters'],axis=1)

# title_pri.head()

      tconst  ordering     nconst
0  tt0000001         1  nm1588970
1  tt0000001         2  nm0005690
2  tt0000001         3  nm0374658
3  tt0000002         1  nm0721526
4  tt0000002         2  nm1335271

In [ ]:
# top_movies= pd.merge(title_pri, name_basics, how='inner', on=['nconst', 'nconst'])
# top_movies

In [ ]:
# top_movies = title_pri.merge(name_basics, left_on='nconst', right_on='nconst')

In [ ]:
# inner_merged = pd.merge(title_pri, name_basics)