<a href="https://colab.research.google.com/github/LuisaPolicarpo/Project3/blob/main/Luisa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
### NAME BASICS & TITLE PRINCIPALS & TITLE AKAS


## NAME BASICS- Contains the following information for names:
# nconst (string) - alphanumeric unique identifier of the name/person
# primaryName (string)– name by which the person is most often credited
# birthYear – in YYYY format
# deathYear – in YYYY format if applicable, else '\N'
# primaryProfession (array of strings)– the top-3 professions of the person
# knownForTitles (array of tconsts) – titles the person is known for


## TITLE PRINCIPALS-  Contains the principal cast/crew for titles
# tconst (string) - alphanumeric unique identifier of the title
# ordering (integer) – a number to uniquely identify rows for a given titleId
# nconst (string) - alphanumeric unique identifier of the name/person
# category (string) - the category of job that person was in
# job (string) - the specific job title if applicable, else '\N'
# characters (string) - the name of the character played if applicable, else '\N'


##TITLE AKAS - Contains the following information for titles:
# titleId (string) - a tconst, an alphanumeric unique identifier of the title
# ordering (integer) – a number to uniquely identify rows for a given titleId
# title (string) – the localized title
# region (string) - the region for this version of the title
# language (string) - the language of the title
# types (array) - Enumerated set of attributes for this alternative title. One or more of the following: "alternative", "dvd", "festival", "tv", "video", "working", "original", "imdbDisplay". New values may be added in the future without warning
# attributes (array) - Additional terms to describe this alternative title, not enumerated
# isOriginalTitle (boolean) – 0: not original title; 1: original title

In [2]:
import pandas as pd

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [7]:
name_basics = pd.read_csv(r'/content/drive/MyDrive/Project 3/name.basics.tsv.gz',compression= "gzip",sep='\t') 
name_basics

# primaryName, primaryProfession, KnowForTitles, nconst(conect with title principals)- L

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0031983,tt0050419,tt0053137,tt0072308"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0038355,tt0037382,tt0075213,tt0117057"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,music_department","tt0057345,tt0054452,tt0056404,tt0049189"
3,nm0000004,John Belushi,1949,1982,"actor,soundtrack,writer","tt0080455,tt0078723,tt0072562,tt0077975"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0060827,tt0069467,tt0050986,tt0083922"
...,...,...,...,...,...,...
12005700,nm9993714,Romeo del Rosario,\N,\N,"animation_department,art_department","tt2455546,tt14069590,tt11657662"
12005701,nm9993716,Essias Loberg,\N,\N,NaN,\N
12005702,nm9993717,Harikrishnan Rajan,\N,\N,cinematographer,tt8736744
12005703,nm9993718,Aayush Nair,\N,\N,cinematographer,\N
12005704,nm9993719,Andre Hill,\N,\N,NaN,\N

In [7]:
# NAME BASICS - overview
name_basics.info() 
# RangeIndex: 12005705 entries, 0 to 12005704
# Data columns (total 6 columns):
#  #   Column             Dtype 
#  0   nconst             object
#  1   primaryName        object
#  2   birthYear          object
#  3   deathYear          object
#  4   primaryProfession  object
#  5   knownForTitles     object
# dtypes: object(6)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12005705 entries, 0 to 12005704
Data columns (total 6 columns):
 #   Column             Dtype
---  ------             -----
 0   nconst             object
 1   primaryName        object
 2   birthYear          object
 3   deathYear          object
 4   primaryProfession  object
 5   knownForTitles     object
dtypes: object(6)
memory usage: 549.6+ MB

In [26]:
name_basics['primaryProfession'].isna().sum()

#nconst: \N         0
#primaryName:\N     0
#birthYear: \N      11441936
#deathYear: \N      11798501
#primaryProfession NaN 2589947
#knownForTitles: \N 2128221

2589947

In [9]:
title_pri= pd.read_csv(r'/content/drive/MyDrive/Project 3/title.principals.tsv.gz',compression= "gzip",sep='\t')
title_pri
#tconst, nconst	, category, job (check)- L

,tconst,ordering,nconst,category,job,characters
0,tt0000001,1,nm1588970,self,\N,"[""Self""]"
1,tt0000001,2,nm0005690,director,\N,\N
2,tt0000001,3,nm0374658,cinematographer,director of photography,\N
3,tt0000002,1,nm0721526,director,\N,\N
4,tt0000002,2,nm1335271,composer,\N,\N
...,...,...,...,...,...,...
52588459,tt9916880,4,nm10535738,actress,\N,"[""Horrid Henry""]"
52588460,tt9916880,5,nm0996406,director,principal director,\N
52588461,tt9916880,6,nm1482639,writer,\N,\N
52588462,tt9916880,7,nm2586970,writer,books,\N
52588463,tt9916880,8,nm1594058,producer,producer,\N

In [10]:
# TITLE PRINCIPALS - overview
title_pri.info() 

# RangeIndex: 52588464 entries, 0 to 52588463
# Data columns (total 6 columns):
#  #   Column      Dtype 
#  0   tconst      object
#  1   ordering    int64 
#  2   nconst      object
#  3   category    object
#  4   job         object
#  5   characters  object

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52588464 entries, 0 to 52588463
Data columns (total 6 columns):
 #   Column      Dtype
---  ------      -----
 0   tconst      object
 1   ordering    int64
 2   nconst      object
 3   category    object
 4   job         object
 5   characters  object
dtypes: int64(1), object(5)
memory usage: 2.4+ GB

In [4]:
title_akas = pd.read_csv(r'/content/drive/MyDrive/Project 3/title.akas.tsv.gz',compression= "gzip",sep='\t') 
title_akas

#TitleId, title, region, language (check), types and attributes (check), isoriginaltitle- Alone

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0
...,...,...,...,...,...,...,...,...
33503602,tt9916852,5,Episódio #3.20,PT,pt,\N,\N,0
33503603,tt9916852,6,Episodio #3.20,IT,it,\N,\N,0
33503604,tt9916852,7,एपिसोड #3.20,IN,hi,\N,\N,0
33503605,tt9916856,1,The Wind,DE,\N,imdbDisplay,\N,0
33503606,tt9916856,2,The Wind,\N,\N,original,\N,1

In [5]:
# TITLE PRINCIPALS - overview

title_akas.info()
# Data columns (total 8 columns):
#  #   Column           Dtype 
#  0   titleId          object
#  1   ordering         int64 
#  2   title            object
#  3   region           object
#  4   language         object
#  5   types            object
#  6   attributes       object
#  7   isOriginalTitle  object
# dtypes: int64(1), object(7)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33503607 entries, 0 to 33503606
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   titleId          object
 1   ordering         int64
 2   title            object
 3   region           object
 4   language         object
 5   types            object
 6   attributes       object
 7   isOriginalTitle  object
dtypes: int64(1), object(7)
memory usage: 2.0+ GB