<a href="https://colab.research.google.com/github/LuisaPolicarpo/Project3/blob/main/Luisa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
name_basics = pd.read_csv(r'/content/drive/MyDrive/Project 3/name.basics.tsv.gz',compression= "gzip",sep='\t') 
name_basics

# primaryName, primaryProfession, KnowForTitles, nconst(conect with title principals)- L

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0031983,tt0050419,tt0053137,tt0072308"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0038355,tt0037382,tt0075213,tt0117057"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,music_department","tt0057345,tt0054452,tt0056404,tt0049189"
3,nm0000004,John Belushi,1949,1982,"actor,soundtrack,writer","tt0080455,tt0078723,tt0072562,tt0077975"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0060827,tt0069467,tt0050986,tt0083922"
...,...,...,...,...,...,...
12005700,nm9993714,Romeo del Rosario,\N,\N,"animation_department,art_department","tt2455546,tt14069590,tt11657662"
12005701,nm9993716,Essias Loberg,\N,\N,NaN,\N
12005702,nm9993717,Harikrishnan Rajan,\N,\N,cinematographer,tt8736744
12005703,nm9993718,Aayush Nair,\N,\N,cinematographer,\N
12005704,nm9993719,Andre Hill,\N,\N,NaN,\N

In [4]:
title_akas = pd.read_csv(r'/content/drive/MyDrive/Project 3/title.akas.tsv.gz',compression= "gzip",sep='\t') 
title_akas

#TitleId, title, region, language (check), types and attributes (check), isoriginaltitle

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0
...,...,...,...,...,...,...,...,...
33503602,tt9916852,5,Episódio #3.20,PT,pt,\N,\N,0
33503603,tt9916852,6,Episodio #3.20,IT,it,\N,\N,0
33503604,tt9916852,7,एपिसोड #3.20,IN,hi,\N,\N,0
33503605,tt9916856,1,The Wind,DE,\N,imdbDisplay,\N,0
33503606,tt9916856,2,The Wind,\N,\N,original,\N,1

In [5]:
title_basics = pd.read_csv(r'/content/drive/MyDrive/Project 3/title.basics.tsv.gz',compression= "gzip",sep='\t') 
title_basics
# tconst, titleType, (primaryTitle= originaltitle (?)) check, isAdult, staryear, endyear (check) -M

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,\N
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,\N
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,\N
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,\N
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,\N
...,...,...,...,...,...,...,...,...,...
9301897,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2010,\N,\N,\N
9301898,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,\N,\N,\N
9301899,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,\N,\N,\N
9301900,tt9916856,short,The Wind,The Wind,0,2015,\N,27,\N
9301901,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,\N,10,\N

In [6]:
title_crew = pd.read_csv(r'/content/drive/MyDrive/Project 3/title.crew.tsv.gz',compression= "gzip",sep='\t') 
title_crew

#all- M

            tconst            directors                        writers
0        tt0000001            nm0005690                             \N
1        tt0000002            nm0721526                             \N
2        tt0000003            nm0721526                             \N
3        tt0000004            nm0721526                             \N
4        tt0000005            nm0005690                             \N
...            ...                  ...                            ...
9301897  tt9916848  nm5519454,nm5519375  nm6182221,nm1628284,nm2921377
9301898  tt9916850  nm5519454,nm5519375  nm6182221,nm1628284,nm2921377
9301899  tt9916852  nm5519454,nm5519375  nm6182221,nm1628284,nm2921377
9301900  tt9916856           nm10538645                      nm6951431
9301901  tt9916880            nm0996406            nm1482639,nm2586970

[9301902 rows x 3 columns]

In [7]:
title_epi = pd.read_csv(r'/content/drive/MyDrive/Project 3/title.episode.tsv.gz',compression= "gzip",sep='\t') 
title_epi
#all -F

            tconst parentTconst seasonNumber episodeNumber
0        tt0020666   tt15180956            1             2
1        tt0020829   tt15180956            1             1
2        tt0021166   tt15180956            1             3
3        tt0021612   tt15180956            2             2
4        tt0021655   tt15180956            2             5
...            ...          ...          ...           ...
7017990  tt9916846    tt1289683            3            18
7017991  tt9916848    tt1289683            3            17
7017992  tt9916850    tt1289683            3            19
7017993  tt9916852    tt1289683            3            20
7017994  tt9916880    tt0985991            4             2

[7017995 rows x 4 columns]

In [3]:
title_pri= pd.read_csv(r'/content/drive/MyDrive/Project 3/title.principals.tsv.gz',compression= "gzip",sep='\t')
title_pri
#tconst, nconst	, category, job (check)- L

,tconst,ordering,nconst,category,job,characters
0,tt0000001,1,nm1588970,self,\N,"[""Self""]"
1,tt0000001,2,nm0005690,director,\N,\N
2,tt0000001,3,nm0374658,cinematographer,director of photography,\N
3,tt0000002,1,nm0721526,director,\N,\N
4,tt0000002,2,nm1335271,composer,\N,\N
...,...,...,...,...,...,...
52588459,tt9916880,4,nm10535738,actress,\N,"[""Horrid Henry""]"
52588460,tt9916880,5,nm0996406,director,principal director,\N
52588461,tt9916880,6,nm1482639,writer,\N,\N
52588462,tt9916880,7,nm2586970,writer,books,\N
52588463,tt9916880,8,nm1594058,producer,producer,\N

In [4]:
title_rat= pd.read_csv(r'/content/drive/MyDrive/Project 3/title.ratings.tsv.gz',compression= "gzip",sep='\t')
title_rat
#all- F

            tconst  averageRating  numVotes
0        tt0000001            5.7      1919
1        tt0000002            5.8       260
2        tt0000003            6.5      1727
3        tt0000004            5.6       173
4        tt0000005            6.2      2541
...            ...            ...       ...
1238667  tt9916690            7.4         6
1238668  tt9916720            5.3       267
1238669  tt9916730            8.4         6
1238670  tt9916766            6.7        21
1238671  tt9916778            7.3        35

[1238672 rows x 3 columns]