<a href="https://colab.research.google.com/github/LuisaPolicarpo/Project3/blob/main/Luisa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
### NAME BASICS & TITLE PRINCIPALS & TITLE AKAS


## NAME BASICS- Contains the following information for names:
# nconst (string) - alphanumeric unique identifier of the name/person
# primaryName (string)– name by which the person is most often credited
# NOT USING- birthYear – in YYYY format
# NOT USING- deathYear – in YYYY format if applicable, else '\N'
# primaryProfession (array of strings)– the top-3 professions of the person
# knownForTitles (array of tconsts) – titles the person is known for


## TITLE PRINCIPALS-  Contains the principal cast/crew for titles
# tconst (string) - alphanumeric unique identifier of the title
# ordering (integer) – a number to uniquely identify rows for a given titleId
# nconst (string) - alphanumeric unique identifier of the name/person
# category (string) - the category of job that person was in
# NOT USING- job (string) - the specific job title if applicable, else '\N'- 
# NOT USING-characters (string) - the name of the character played if applicable, else '\N'


##TITLE AKAS - Contains the following information for titles:
# titleId (string) - a tconst, an alphanumeric unique identifier of the title
# ordering (integer) – a number to uniquely identify rows for a given titleId
# title (string) – the localized title
# region (string) - the region for this version of the title
# language (string) - the language of the title
# types (array) - Enumerated set of attributes for this alternative title. One or more of the following: "alternative", "dvd", "festival", "tv", "video", "working", "original", "imdbDisplay". New values may be added in the future without warning
# attributes (array) - Additional terms to describe this alternative title, not enumerated
# isOriginalTitle (boolean) – 0: not original title; 1: original title

In [2]:
import pandas as pd

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
name_basics2 = pd.read_csv(r'/content/drive/MyDrive/Project 3/name.basics.tsv.gz',compression= "gzip",sep='\t') 
name_basics2

# primaryName, primaryProfession, KnowForTitles, nconst(conect with title principals)- L

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0031983,tt0050419,tt0053137,tt0072308"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0038355,tt0037382,tt0075213,tt0117057"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,music_department","tt0057345,tt0054452,tt0056404,tt0049189"
3,nm0000004,John Belushi,1949,1982,"actor,soundtrack,writer","tt0080455,tt0078723,tt0072562,tt0077975"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0060827,tt0069467,tt0050986,tt0083922"
...,...,...,...,...,...,...
12005700,nm9993714,Romeo del Rosario,\N,\N,"animation_department,art_department","tt2455546,tt14069590,tt11657662"
12005701,nm9993716,Essias Loberg,\N,\N,NaN,\N
12005702,nm9993717,Harikrishnan Rajan,\N,\N,cinematographer,tt8736744
12005703,nm9993718,Aayush Nair,\N,\N,cinematographer,\N
12005704,nm9993719,Andre Hill,\N,\N,NaN,\N

In [ ]:
name_basics2[name_basics2['nconst'] == 'nm6182221']

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
8987409,nm6182221,Sema Ali Erol,\N,\N,writer,"tt1289683,tt9721776,tt3241162,tt3431628"

In [5]:
# name_basics2['P'] = name_basics2['primaryProfession'].str.split(" , ", expand=True)

# name_basics2


# new = name_basics2['primaryProfession'].str.split(",", n = 1, expand = True)

# name_basics2['primaryProfession']= new[0]

# name_basics2['primaryProfession']= new[1]

# name_basics2.drop(columns =["primaryProfession"], inplace = True)


# name_basics2


name_basics2[['P1', 'P2', 'P3']] = name_basics2['primaryProfession'].str.split(',', expand=True)
# display the dataframe
name_basics2

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles,P1,P2,P3
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0031983,tt0050419,tt0053137,tt0072308",soundtrack,actor,miscellaneous
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0038355,tt0037382,tt0075213,tt0117057",actress,soundtrack,None
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,music_department","tt0057345,tt0054452,tt0056404,tt0049189",actress,soundtrack,music_department
3,nm0000004,John Belushi,1949,1982,"actor,soundtrack,writer","tt0080455,tt0078723,tt0072562,tt0077975",actor,soundtrack,writer
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0060827,tt0069467,tt0050986,tt0083922",writer,director,actor
...,...,...,...,...,...,...,...,...,...
12005700,nm9993714,Romeo del Rosario,\N,\N,"animation_department,art_department","tt2455546,tt14069590,tt11657662",animation_department,art_department,None
12005701,nm9993716,Essias Loberg,\N,\N,NaN,\N,NaN,NaN,None
12005702,nm9993717,Harikrishnan Rajan,\N,\N,cinematographer,tt8736744,cinematographer,None,None
12005703,nm9993718,Aayush Nair,\N,\N,cinematographer,\N,cinematographer,None,None
12005704,nm9993719,Andre Hill,\N,\N,NaN,\N,NaN,NaN,None

In [12]:
name_basics2['P1'].value_counts()
# actor                        2509928 X
# actress                      1579075 X
# miscellaneous                 812959
# producer                      605806 X
# camera_department             523178
# director                      368355 X
# writer                        338024 X
# art_department                309940
# sound_department              248027
# composer                      207493
# cinematographer               189721 
# make_up_department            169516
# editor                        157018
# visual_effects                156835
# music_department              149139 
# animation_department          145517 
# assistant_director            128870
# production_manager            103630
# costume_department            101803
# editorial_department           93889
# transportation_department      72033
# soundtrack                     62180
# stunts                         48899
# location_management            44330
# art_director                   41110 
# script_department              38278
# costume_designer               38136
# special_effects                37004
# production_designer            35348
# casting_department             27292
# set_decorator                  22072
# executive                      14345
# casting_director               12356
# talent_agent                    9646
# manager                         7418
# publicist                       2560
# legal                           2335
# assistant                       1690
# production_department              2
# choreographer                      1

actor                        2509928
actress                      1579075
miscellaneous                 812959
producer                      605806
camera_department             523178
director                      368355
writer                        338024
art_department                309940
sound_department              248027
composer                      207493
cinematographer               189721
make_up_department            169516
editor                        157018
visual_effects                156835
music_department              149139
animation_department          145517
assistant_director            128870
production_manager            103630
costume_department            101803
editorial_department           93889
transportation_department      72033
soundtrack                     62180
stunts                         48899
location_management            44330
art_director                   41110
script_department              38278
costume_designer               38136
special_effects                37004
production_designer            35348
casting_department             27292
set_decorator                  22072
executive                      14345
casting_director               12356
talent_agent                    9646
manager                         7418
publicist                       2560
legal                           2335
assistant                       1690
production_department              2
choreographer                      1
Name: P1, dtype: int64

In [20]:
##actor

condition = name_basics2['P1'] == 'actor'
condition2 = name_basics2['P2'] == 'actor' 
condition3 = name_basics2['P3'] == 'actor'

actors = name_basics2[condition | condition2 | condition3][['nconst','primaryName', 'P1','P2','P3','knownForTitles']]



actors[['m1', 'm2', 'm3','m4', 'm5']] = actors['knownForTitles'].str.split(',', expand=True)

#actors['m5'].value_counts()

actors

,nconst,primaryName,P1,P2,P3,knownForTitles,m1,m2,m3,m4,m5
0,nm0000001,Fred Astaire,soundtrack,actor,miscellaneous,"tt0031983,tt0050419,tt0053137,tt0072308",tt0031983,tt0050419,tt0053137,tt0072308,None
3,nm0000004,John Belushi,actor,soundtrack,writer,"tt0080455,tt0078723,tt0072562,tt0077975",tt0080455,tt0078723,tt0072562,tt0077975,None
4,nm0000005,Ingmar Bergman,writer,director,actor,"tt0060827,tt0069467,tt0050986,tt0083922",tt0060827,tt0069467,tt0050986,tt0083922,None
6,nm0000007,Humphrey Bogart,actor,soundtrack,producer,"tt0037382,tt0034583,tt0043265,tt0042593",tt0037382,tt0034583,tt0043265,tt0042593,None
7,nm0000008,Marlon Brando,actor,soundtrack,director,"tt0070849,tt0047296,tt0078788,tt0068646",tt0070849,tt0047296,tt0078788,tt0068646,None
...,...,...,...,...,...,...,...,...,...,...,...
12005683,nm9993697,Zakariya Ganim,actor,None,None,\N,\N,None,None,None,None
12005684,nm9993698,Sebi John,actor,None,None,tt8736744,tt8736744,None,None,None,None
12005685,nm9993699,Dani Jacob,actor,None,None,tt8736744,tt8736744,None,None,None,None
12005687,nm9993701,Sanjai Kuriakose,actor,None,None,tt8736744,tt8736744,None,None,None,None
12005689,nm9993703,James Craigmyle,actor,None,None,"tt11212278,tt6225166,tt6914160,tt10627062",tt11212278,tt6225166,tt6914160,tt10627062,None

In [22]:
##actress

condition = name_basics2['P1'] == 'actress'
condition2 = name_basics2['P2'] == 'actress' 
condition3 = name_basics2['P3'] == 'actress'

actress = name_basics2[condition | condition2 | condition3][['nconst','primaryName', 'P1','P2','P3','knownForTitles']]

actress[['m1', 'm2', 'm3','m4', 'm5']] = actress['knownForTitles'].str.split(',', expand=True)

actress

,nconst,primaryName,P1,P2,P3,knownForTitles,m1,m2,m3,m4,m5
1,nm0000002,Lauren Bacall,actress,soundtrack,None,"tt0038355,tt0037382,tt0075213,tt0117057",tt0038355,tt0037382,tt0075213,tt0117057,None
2,nm0000003,Brigitte Bardot,actress,soundtrack,music_department,"tt0057345,tt0054452,tt0056404,tt0049189",tt0057345,tt0054452,tt0056404,tt0049189,None
5,nm0000006,Ingrid Bergman,actress,soundtrack,producer,"tt0036855,tt0077711,tt0038109,tt0034583",tt0036855,tt0077711,tt0038109,tt0034583,None
11,nm0000012,Bette Davis,actress,soundtrack,make_up_department,"tt0031210,tt0042192,tt0035140,tt0056687",tt0031210,tt0042192,tt0035140,tt0056687,None
12,nm0000013,Doris Day,soundtrack,actress,producer,"tt0053172,tt0048317,tt0045591,tt0049470",tt0053172,tt0048317,tt0045591,tt0049470,None
...,...,...,...,...,...,...,...,...,...,...,...
12005669,nm9993682,Cheryl Clark,actress,None,None,tt8744086,tt8744086,None,None,None,None
12005673,nm9993686,Yukari Funaki,actress,None,None,\N,\N,None,None,None,None
12005674,nm9993687,Hiroko Ide,actress,None,None,tt7170282,tt7170282,None,None,None,None
12005680,nm9993693,Apsara Rani,actress,None,None,"tt12856788,tt8737752,tt8302382,tt13847502",tt12856788,tt8737752,tt8302382,tt13847502,None
12005686,nm9993700,Sexy Angel,actress,None,None,\N,\N,None,None,None,None

In [11]:
##producer 

condition = name_basics2['P1'] == 'producer'
condition2 = name_basics2['P2'] == 'producer' 
condition3 = name_basics2['P3'] == 'producer'

producer  = name_basics2[condition | condition2 | condition3][['nconst','primaryName', 'P1','P2','P3']]

actress = name_basics2[condition | condition2 | condition3][['nconst','primaryName', 'P1','P2','P3','knownForTitles']]

actress[['m1', 'm2', 'm3','m4', 'm5']] = actress['knownForTitles'].str.split(',', expand=True)

actress

nm0000006     1
nm5155082     1
nm5154933     1
nm5154935     1
nm5154944     1
             ..
nm1410762     1
nm14107651    1
nm14107652    1
nm14107714    1
nm9993713     1
Name: nconst, Length: 1038647, dtype: int64

In [12]:
##director

condition = name_basics2['P1'] == 'director'
condition2 = name_basics2['P2'] == 'director' 
condition3 = name_basics2['P3'] == 'director'

director = name_basics2[condition | condition2 | condition3][['nconst','primaryName', 'P1','P2','P3']]

director['nconst'].value_counts()

nm0000005     1
nm5063166     1
nm5063101     1
nm5063120     1
nm5063131     1
             ..
nm13576394    1
nm13576492    1
nm13576499    1
nm13576510    1
nm9993709     1
Name: nconst, Length: 642008, dtype: int64

In [13]:
##writer 

condition = name_basics2['P1'] == 'writer'
condition2 = name_basics2['P2'] == 'writer' 
condition3 = name_basics2['P3'] == 'writer'

writer = name_basics2[condition | condition2 | condition3][['nconst','primaryName', 'P1','P2','P3']]

writer['nconst'].value_counts()

nm0000004     1
nm4837177     1
nm4836997     1
nm4837027     1
nm4837059     1
             ..
nm1318796     1
nm13188011    1
nm13188029    1
nm1318809     1
nm9993713     1
Name: nconst, Length: 784153, dtype: int64

In [13]:
name_basics2['P2'].value_counts()

# writer                       291814
# miscellaneous                280893
# producer                     264629
# director                     178380
# actor                        163720
# camera_department            129136
# cinematographer               94561
# editor                        81770
# art_department                75682
# sound_department              64458
# assistant_director            62715
# production_manager            62702
# actress                       60613
# composer                      59988
# music_department              59910
# soundtrack                    58732
# editorial_department          51483
# visual_effects                34085
# animation_department          31829
# art_director                  27433
# costume_department            27059
# stunts                        23666
# costume_designer              23452
# make_up_department            22808
# production_designer           22806
# script_department             22169
# location_management           18191
# set_decorator                 17250
# special_effects               16932
# casting_department            15559
# transportation_department     12023
# executive                     10498
# casting_director               9975
# manager                        3665
# talent_agent                   2453
# legal                          1076
# assistant                      1047
# publicist                       946
# production_department             9
# Name: P2, dtype: int64

writer                       291814
miscellaneous                280893
producer                     264629
director                     178380
actor                        163720
camera_department            129136
cinematographer               94561
editor                        81770
art_department                75682
sound_department              64458
assistant_director            62715
production_manager            62702
actress                       60613
composer                      59988
music_department              59910
soundtrack                    58732
editorial_department          51483
visual_effects                34085
animation_department          31829
art_director                  27433
costume_department            27059
stunts                        23666
costume_designer              23452
make_up_department            22808
production_designer           22806
script_department             22169
location_management           18191
set_decorator                 17250
special_effects               16932
casting_department            15559
transportation_department     12023
executive                     10498
casting_director               9975
manager                        3665
talent_agent                   2453
legal                          1076
assistant                      1047
publicist                       946
production_department             9
Name: P2, dtype: int64

In [14]:
name_basics2['P3'].value_counts()

# producer                     168212
# writer                       154315
# miscellaneous                119713
# director                      95273
# editor                        76235
# actor                         65567
# cinematographer               53839
# camera_department             48922
# assistant_director            39192
# sound_department              33890
# production_manager            31335
# art_department                30847
# composer                      24606
# editorial_department          23218
# music_department              22703
# soundtrack                    21785
# actress                       20616
# visual_effects                16161
# production_designer           15091
# art_director                  15051
# script_department             13383
# animation_department          12576
# location_management           10570
# set_decorator                 10411
# costume_department             9540
# executive                      8114
# make_up_department             8037
# casting_department             7922
# special_effects                7808
# costume_designer               7124
# stunts                         6503
# casting_director               6183
# transportation_department      5409
# manager                        1867
# talent_agent                    919
# assistant                       597
# legal                           382
# publicist                       359
# production_department             9
# electrical_department             1
# Name: P3, dtype: int64

producer                     168212
writer                       154315
miscellaneous                119713
director                      95273
editor                        76235
actor                         65567
cinematographer               53839
camera_department             48922
assistant_director            39192
sound_department              33890
production_manager            31335
art_department                30847
composer                      24606
editorial_department          23218
music_department              22703
soundtrack                    21785
actress                       20616
visual_effects                16161
production_designer           15091
art_director                  15051
script_department             13383
animation_department          12576
location_management           10570
set_decorator                 10411
costume_department             9540
executive                      8114
make_up_department             8037
casting_department             7922
special_effects                7808
costume_designer               7124
stunts                         6503
casting_director               6183
transportation_department      5409
manager                        1867
talent_agent                    919
assistant                       597
legal                           382
publicist                       359
production_department             9
electrical_department             1
Name: P3, dtype: int64

In [ ]:
#type(name_basics['knownForTitles'].iloc[0])

name_basics= name_basics2.drop(['birthYear', 'deathYear'],axis=1)

name_basics.head()

,nconst,primaryName,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,"soundtrack,actor,miscellaneous","tt0031983,tt0050419,tt0053137,tt0072308"
1,nm0000002,Lauren Bacall,"actress,soundtrack","tt0038355,tt0037382,tt0075213,tt0117057"
2,nm0000003,Brigitte Bardot,"actress,soundtrack,music_department","tt0057345,tt0054452,tt0056404,tt0049189"
3,nm0000004,John Belushi,"actor,soundtrack,writer","tt0080455,tt0078723,tt0072562,tt0077975"
4,nm0000005,Ingmar Bergman,"writer,director,actor","tt0060827,tt0069467,tt0050986,tt0083922"

In [ ]:
name_basics['primaryProfession'] = name_basics['primaryProfession'].str.split(',', 1, expand=True)
name_basics['primaryProfession']

ValueError: ignored

In [ ]:
# NAME BASICS - overview
name_basics.info() 
# RangeIndex: 12005705 entries, 0 to 12005704
# Data columns (total 6 columns):
#  #   Column             Dtype 
#  0   nconst             object
#  1   primaryName        object
#  2   birthYear          object
#  3   deathYear          object
#  4   primaryProfession  object
#  5   knownForTitles     object
# dtypes: object(6)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12005705 entries, 0 to 12005704
Data columns (total 6 columns):
 #   Column             Dtype
---  ------             -----
 0   nconst             object
 1   primaryName        object
 2   birthYear          object
 3   deathYear          object
 4   primaryProfession  object
 5   knownForTitles     object
dtypes: object(6)
memory usage: 549.6+ MB

In [ ]:
#name_basics['knownForTitles'].value_counts()

name_basics['primaryProfession'].isna().sum()

#nconst: \N         0
#primaryName:\N     0
#birthYear: \N      11441936
#deathYear: \N      11798501
#primaryProfession NaN 2589947
#knownForTitles: \N 2128221

NameError: ignored

In [ ]:
title_pri2= pd.read_csv(r'/content/drive/MyDrive/Project 3/title.principals.tsv.gz',compression= "gzip",sep='\t')

#tconst, nconst	, category, job (check)- L
title_pri2.head()

,tconst,ordering,nconst,category,job,characters
0,tt0000001,1,nm1588970,self,\N,"[""Self""]"
1,tt0000001,2,nm0005690,director,\N,\N
2,tt0000001,3,nm0374658,cinematographer,director of photography,\N
3,tt0000002,1,nm0721526,director,\N,\N
4,tt0000002,2,nm1335271,composer,\N,\N

In [ ]:
# title_pri=title_pri2.loc[:,['tconst','ordering','nconst','category']]
# title_pri


title_pri= title_pri2.drop(['job', 'characters'],axis=1)

title_pri

             tconst  ordering      nconst         category
0         tt0000001         1   nm1588970             self
1         tt0000001         2   nm0005690         director
2         tt0000001         3   nm0374658  cinematographer
3         tt0000002         1   nm0721526         director
4         tt0000002         2   nm1335271         composer
...             ...       ...         ...              ...
52588459  tt9916880         4  nm10535738          actress
52588460  tt9916880         5   nm0996406         director
52588461  tt9916880         6   nm1482639           writer
52588462  tt9916880         7   nm2586970           writer
52588463  tt9916880         8   nm1594058         producer

[52588464 rows x 4 columns]

In [ ]:
# TITLE PRINCIPALS - overview
title_pri.info() 

# RangeIndex: 52588464 entries, 0 to 52588463
# Data columns (total 6 columns):
#  #   Column      Dtype 
#  0   tconst      object
#  1   ordering    int64 
#  2   nconst      object
#  3   category    object
#  4   job         object
#  5   characters  object

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52588464 entries, 0 to 52588463
Data columns (total 6 columns):
 #   Column      Dtype
---  ------      -----
 0   tconst      object
 1   ordering    int64
 2   nconst      object
 3   category    object
 4   job         object
 5   characters  object
dtypes: int64(1), object(5)
memory usage: 2.4+ GB

In [ ]:
#title_pri['characters'].value_counts()


#tconst: \N         0
#ordering: \N       0
#nconst: \N         0
#category: \N       0
#job: \N            43960090
#characters: \N     26912435

\N                      26912435
["Self"]                 3897085
["Self - Host"]          1587929
["Self - Guest"]          284455
["Self - Presenter"]      276287
                          ...
["Aki Kanayama"]               1
["Yôko Maki"]                  1
["Reiko Shinjô"]               1
["Hiromichi Maki"]             1
["Judah Harris"]               1
Name: characters, Length: 2667335, dtype: int64

In [ ]:

# df= title_pri[title_pri['category']== 'actor'] 
# cc= df.loc[:,['category', 'characters']]
# cc.characters.values_count()
# cc=title_pri.loc[:,['category', 'characters']]
# cc

# number_c = cc.groupby('category').agg({'characters':'count'})
# number_c

                     characters
category
actor                  11627706
actress                 8954108
archive_footage          339071
archive_sound              3697
cinematographer         1821654
composer                1789627
director                6073472
editor                  1752666
producer                3406435
production_designer      349569
self                    9147091
writer                  7323368

In [ ]:
title_akas = pd.read_csv(r'/content/drive/MyDrive/Project 3/title.akas.tsv.gz',compression= "gzip",sep='\t') 
title_akas

#TitleId, title, region, language (check), types and attributes (check), isoriginaltitle- Alone

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0
...,...,...,...,...,...,...,...,...
33503602,tt9916852,5,Episódio #3.20,PT,pt,\N,\N,0
33503603,tt9916852,6,Episodio #3.20,IT,it,\N,\N,0
33503604,tt9916852,7,एपिसोड #3.20,IN,hi,\N,\N,0
33503605,tt9916856,1,The Wind,DE,\N,imdbDisplay,\N,0
33503606,tt9916856,2,The Wind,\N,\N,original,\N,1

In [ ]:
# TITLE Akas - overview

title_akas.info()
# Data columns (total 8 columns):
#  #   Column           Dtype 
#  0   titleId          object
#  1   ordering         int64 
#  2   title            object
#  3   region           object
#  4   language         object
#  5   types            object
#  6   attributes       object
#  7   isOriginalTitle  object
# dtypes: int64(1), object(7)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33503607 entries, 0 to 33503606
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   titleId          object
 1   ordering         int64
 2   title            object
 3   region           object
 4   language         object
 5   types            object
 6   attributes       object
 7   isOriginalTitle  object
dtypes: int64(1), object(7)
memory usage: 2.0+ GB

In [ ]:
title_akas['language'].value_counts()

#titleId \N         0
#ordering: \N       0
#title: \N          0
#region: \N         0
#language: \N       6299113
#types: \N         28184480
#attributes : \N   33255169
#isOriginalTitle: \N

\N     6299113
ja     3869661
fr     3834035
hi     3807311
es     3782298
        ...
rm           1
roa          1
rn           1
eka          1
cr           1
Name: language, Length: 107, dtype: int64

In [ ]:
title_akas['region'].value_counts()

JP    4001330
FR    4000154
DE    3983469
IN    3931514
ES    3923268
       ...
CC          1
TV          1
NU          1
PW          1
NR          1
Name: region, Length: 248, dtype: int64

In [ ]:
title_akas['attributes'].value_counts()

# \N                                         33255169
# transliterated title                          27289
# alternative spelling                          18373
# new title                                     17592
# literal English title                         14986
#                                              ...   
# first four episodes title                         1
# Locarno film festival title                       1
# literal French title                              1
# closing credits titlepre-release title           1
# 8mm release titlesecond part title               1
# Name: attributes, Length: 188, dtype: int64

In [ ]:
title_akas['types'].value_counts()

# \N                      28184480
# imdbDisplay              3294399
# original                 1790138
# alternative               103034
# working                    52489
# dvd                        21714
# video                      20374
# tv                         18333
# festival                   18161 x
# dvdimdbDisplay              242
# imdbDisplaytv                74
# festivalimdbDisplay          66
# imdbDisplayworking           31
# imdbDisplayvideo             26
# alternativetv                 9
# tvvideo                       7
# alternativedvd                6
# alternativeworking            6
# videoworking                  5
# tvworking                     4
# festivalworking               3
# alternativevideo              2
# dvdvideo                      2
# alternativefestival           2
# Name: types, dtype: int64

In [ ]:
# TITLE Akas - overview

title_akas.info()
# Data columns (total 8 columns):
#  #   Column           Dtype 
#  0   titleId          object
#  1   ordering         int64 
#  2   title            object
#  3   region           object
#  4   language         object
#  5   types            object
#  6   attributes       object
#  7   isOriginalTitle  object
# dtypes: int64(1), object(7)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33503607 entries, 0 to 33503606
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   titleId          object
 1   ordering         int64
 2   title            object
 3   region           object
 4   language         object
 5   types            object
 6   attributes       object
 7   isOriginalTitle  object
dtypes: int64(1), object(7)
memory usage: 2.0+ GB